<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fortifyintel || Cyber security consultancy</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="keywords" content="Cybersecurity Consultancy, Penetration Testing, Network Security Defense, Forensic Investigations, Web Development, DevOps, Cloud Architecture, Security Tools, Cyber Threat Analysis, Digital Forensics, Ethical Hacking, IT Security Solutions, Cyber Risk Management, Secure Web Applications, Incident Response, Cybersecurity Experts, Cloud Security, Vulnerability Assessment, IT Security Services, Cybersecurity Solutions, IT Risk Management, Data Protection, Security Audits">
    <meta content="Elevate your cybersecurity with Fortifyintel, your trusted partner in comprehensive solutions. From penetration testing and network defense to forensic investigations and cutting-edge web development, we secure your digital future. Explore our tailored cybersecurity services for a resilient, proactive, and customized defense against evolving cyber threats. Partner with Fortifyintel - Fortifying Your Digital Frontier."
        name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/navabar.css">
</head>

<div>
    <!-- Topbar Start -->
    <div class="container-fluid bg-secondary ps-5 pe-0 d-none d-lg-block" id="top-nav">
        <div class="row gx-0">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body py-2 pe-3 border-end" href=""><small>FAQs</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Support</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Privacy</small></a>
                    <a class="text-body py-2 px-3 border-end" href=""><small>Policy</small></a>
                    <!-- <a class="text-body py-2 ps-3" href=""><small>Career</small></a> -->
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="position-relative d-inline-flex align-items-center bg-primary text-white top-shape px-5">
                    <div class="me-3 pe-3 border-end py-2">
                        <p class="m-0"><i class="fa fa-envelope-open me-2"></i>info@Fortifyintel.com</p>
                    </div>
                    <div class="py-2">
                        <p class="m-0"><i class="fa fa-phone-alt me-2"></i>+2347041417901</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <!-- <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
        <a href="/" class="navbar-brand p-0">
            <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-lock text-primary me-2"></i>Fortifyintel</h1>
        </a>
        <button class="navbar-toggler btn-primary active" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 me-n3">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about-us" class="nav-item nav-link text-primary">About</a>
                <a href="/service" class="nav-item nav-link text-primary">Service</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle text-primary" data-bs-toggle="dropdown">Others</a>
                    <div class="dropdown-menu m-0">
                        <a href="/blog" class="dropdown-item text-primary">Blog Grid</a>
                        <a href="/feature" class="dropdown-item text-primary">Features</a>
                        <a href="/quote" class="dropdown-item text-primary">Quote Form</a>
                        <a href="/team" class="dropdown-item text-primary">The Team</a>
                    </div>
                </div>
                <a href="/contact" class="nav-item nav-link text-primary">Contact</a>
            </div>
        </div>
    </nav> -->
    <nav>
        <div class="navbar">
            <div class="logo navbar-brand text-primary text-uppercase"><a href="/"><i class="fa fa-lock text-primary me-2"></i>Fortifyintel</a></div>
            <i class='bx bx-menu'></i>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name text-uppercase">Fortifyintel</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about-us">ABOUT US</a></li>
                    <li>
                        <a href="#">SERVICES</a>
                        <i class='bx bxs-chevron-down js-arrow arrow'></i>
                        <ul class="js-sub-menu sub-menu">
                            <li><a href="/penetration">PENETRATION TESTING</a></li>
                            <li><a href="/network-security">NETWORK SECURITY DEFENCE</a></li>
                            <li><a href="/forensic">FORENSIC INVESTIGATIONS</a></li>
                            <li><a href="/web-development">WEB DEVELOPMENT</a></li>
                            <li><a href="/devops">DEVOPS/CLOUD AECHITECTURE</a></li>
                            <li><a href="/tools">TOOLS SELLING</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">OTHERS</a>
                        <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                        <ul class="htmlCss-sub-menu sub-menu">
                            <li><a href="/blog">BLOG</a></li>
                            <li><a href="/feature">FEATURE</a></li>
                            <li><a href="/quote">FREE QUOTE</a></li>
                            <li><a href="/team">TEAM</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->




    <!-- Page Header Start -->
    <div class="container-fluid bg-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="display-4 text-white">Services</h1>
                <a href="">Home</a>
                <i class="far fa-square text-primary px-2"></i>
                <a href=""> Our Services</a>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Services Start -->
    <div class="container-fluid pt-6 px-5">
        <div class="text-center mx-auto mb-5" style="max-width: 600px;">
            <h1 class="display-5 mb-0">What We Offer</h1>
            <hr class="w-25 mx-auto bg-primary">
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <a href="/penetration">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-pen-nib fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Penetration Testing</h3>
                        <p class="mb-0">Our Penetration Testing service is designed to identify vulnerabilities in your digital infrastructure before malicious actors can exploit them. Our team of skilled ethical hackers simulates real-world cyberattacks to assess the
                            resilience of your systems, applications, and networks. Through comprehensive testing methodologies, we provide detailed reports with actionable insights to help you fortify your defenses and secure your organization against
                            potential threats.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="network-security">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-network-wired fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Network Security Defence</h3>
                        <p class="mb-0">Our Network Security Defense service is designed to fortify your organization's digital infrastructure against cyber threats. Our expert team employs a multi-layered approach, implementing firewalls, intrusion detection systems,
                            and robust access controls. We conduct thorough security assessments to identify vulnerabilities and tailor our defense strategies to mitigate potential risks. With a focus on proactive monitoring and rapid incident response,
                            we ensure that your network remains resilient and secure in the face of evolving cyber threats.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="/forensic">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-bath fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Forensic Investigations</h3>
                        <p class="mb-0">In the aftermath of a cyber incident, our Forensic Investigators step in to meticulously analyze digital evidence, trace the origin of the attack, and identify the responsible parties. Leveraging cutting-edge forensic tools and
                            methodologies, we conduct thorough investigations to piece together the sequence of events. Our team provides comprehensive reports suitable for legal proceedings, helping you understand the extent of the breach and aiding
                            law enforcement in prosecuting cybercriminals.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="/web-development">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-code fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Web Development</h3>
                        <p class="mb-0">Our Web Development team is dedicated to building secure, scalable, and high-performance web applications. We prioritize security from the ground up, implementing secure coding practices, encryption protocols, and thorough testing
                            to ensure vulnerabilities are minimized. Whether it's developing a new website or securing an existing one, our team combines creativity with a security-first mindset to deliver web solutions that meet your business objectives
                            while safeguarding sensitive data.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="/devops">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-cloud fa-2x"></i>
                        </div>
                        <h3 class="mb-3">DevOps/Cloud Architecture</h3>
                        <p class="mb-0">Embrace the agility and scalability of cloud computing while maintaining robust security standards with our DevOps/Cloud Architecture services. We assist in the design and implementation of secure, automated, and resilient cloud
                            environments. From continuous integration and delivery (CI/CD) pipelines to infrastructure as code (IaC), we optimize your development processes while ensuring that security is seamlessly integrated throughout the entire lifecycle.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6">
                <a href="">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-briefcase fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Tools Selling</h3>
                        <p class="mb-0">Equip your organization with state-of-the-art cybersecurity tools through our Tools Selling service. We offer a curated selection of cutting-edge software and hardware solutions to enhance your security posture. From threat intelligence
                            platforms to intrusion prevention systems, our team provides expert guidance to help you choose the right tools tailored to your specific needs. Our goal is to empower your organization with the latest technologies to stay
                            ahead of emerging cyber threats.</p>
                    </div>
                </a>
            </div>
        </div>
    </div><br>
    <!-- Services End -->


    <!-- Quote Start -->
    <div class="container-fluid bg-secondary px-0">
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5">
                <h1 class="display-5 mb-4 text-primary">Request A Free Quote</h1>
                <p class="mb-4">Securing your organization against cyber threats is a critical investment in the digital age. At Fortifyintel, we understand that each business has unique cybersecurity requirements. To help you determine the best solutions tailored to
                    your specific needs, we offer a complimentary consultation and quote. Here's how you can get started:</p>
                <form>
                    <div class="row gx-3">
                        <div class="col-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="form-floating-1" placeholder="John Doe">
                                <label for="form-floating-1" class="text-primary">Full Name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="form-floating-2" placeholder="name@Fortifyintel.com">
                                <label for="form-floating-2" class="text-primary">Email address</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-floating">
                                <select class="form-select" id="floatingSelect" aria-label="Financial Consultancy">
                                    <option selected value="Penetration Testing">Penetration Testing</option>
                                    <option value="Network Security Defence">Network Security Defence</option>
                                    <option value="Forensic Investigators">Forensic Investigators</option>
                                    <option value="Web Development">Web Development</option>
                                    <option value="DevOps/Cloud Architecture">DevOps/Cloud Architecture</option>
                                    <option value="Tools Selling">Tools Selling</option>
                                </select>
                                <label for="floatingSelect" class="text-primary">Select A Service</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-primary w-100 h-100" type="submit">Request A Quote</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100" src="img/quote.png" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->


    <!-- Footer Start -->
    <div class="container-fluid bg-primary text-secondary p-5">
        <div class="row g-5">
            <div class="col-12 text-center">
                <h1 class="display-5 mb-4">Stay Update!!!</h1>
                <form class="mx-auto" style="max-width: 600px;">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-3" placeholder="Your Email">
                        <button class="btn btn-dark px-4">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-secondary p-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Quick Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Our Services</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Latest Blog Post</a>
                    <a class="text-white" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Popular Links</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Our Services</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Latest Blog Post</a>
                    <a class="text-white mb-2" href="#"><i class="bi bi-arrow-right text-white me-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Get In Touch</h3>
                <p class="mb-2 text-white"><i class="bi bi-geo-alt text-white me-2"></i>123 Street, New York, USA</p>
                <p class="mb-2 text-white"><i class="bi bi-envelope-open text-white me-2"></i>info@Fortifyintel.com</p>
                <p class="mb-0 text-white"><i class="bi bi-telephone text-white me-2"></i>+23470414179010</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Follow Us</h3>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white text-center border-top py-4 px-5" style="border-color: rgba(256, 256, 256, .1) !important;">
        <p class="m-0">&copy; <a class="text-white border-bottom" href="#">Fortifyintel</a>. All Rights Reserved. Designed by <a class="text-primary border-bottom" href="https://cidusfacetech.com">Altclick ICT World Ltd</a></p>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="navbar.js"></script>
    <script src="js/main.js"></script>
    </body>

</html>