img {
    /* margin: 1px; */
    /* margin-right: 10px; */
    width: 400px;
    height: 350px;
}

.row {
    margin-right: 50px;
}

.container .form-group {
    width: 50%;
}

form input,
form textarea {
    width: 250px;
}

.img__wrap {
    position: relative;
    width: 400px;
    height: 350px;
}

.img__description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: x-large;
    background: red;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    /* transition effect. not necessary */
    transition: opacity .2s, visibility .5s;
}

.img__wrap:hover .img__description {
    visibility: visible;
    opacity: 1;
}